.navbar-header
  = link_to "NuboardGallery", root_path, :class => 'navbar-brand'

.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li
        %a.dropdown-toggle{data: {toggle: 'dropdown'}, href: "#"}
          = current_user.name
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              = t('nav.common.sign_out')
